{{!-- Messages --}}

{{!-- Show success message --}}

{{#if success_msg}}

<div class="alert alert-success">{{success_msg}}</div>

{{/if}}

{{!-- Show error message --}}

{{#if error_msg}}

<div class="alert alert-danger">{{error_msg}}</div>

{{/if}}