<h1>Lista de categorias</h1>
<hr>

{{!-- Add new question button --}}
<a href="/categoria"><button class='btn btn-success'>Nova categoria</button></a>
{{#if accountType}}
<a href="/admin/categoria/lista"><button class='btn btn-success'>ADM categorias</button></a>
{{/if}}

{{!-- Show questions list --}}
{{#each categories}}
{{!-- Card --}}
<div class="card m-4">
  {{!-- Card body --}}
  <div class="card-body">
    {{!-- Card title line --}}
    <div class="d-flex flex-row bd-highlight mt-1">

      {{!-- Title --}}
      <div class="p-1 flex-grow-1 bd-highlight">
        <h4>{{name}}</h4>
      </div>

    </div>

    {{!-- Question date --}}
    <div class="px-2 flex-grow-1">
      <small class="text-muted">Data: {{#formatDate date}}{{/formatDate}}</small>
    </div>

    {{!-- Division line --}}
    <hr>

    {{!-- Question content --}}
    <p>{{tag}}</p>

    {{!-- See question button --}}
    <div>
      <a class="btn btn-primary btn-sm link" href="/categoria/{{tag}}">Ver categoria</a>
    </div>
  </div>    
</div>

{{!-- In case there is no questions --}}
{{else}}

<h4 class="mt-3">Nenhuma categoria registrada... Crie uma categoria!</h4>

{{/each}}